.MenuBar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    margin: 32px 60px 0px;
    width: 80px;
    height: 64px;
}

.Menu {
    margin-top: 54px;
}
.Menu li {
    width: 200px;
}
.Menu li a {
    margin-left: 16px;
}
.Menu li:hover {
    background: #fff2e7;
}
.Menu li:hover a {
    color: #ff7506;
}
.Menu a:hover .img_item {
    color: #ff7506;
}
.Menu .menu_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    width: 100%;
    height: 48px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Gray/$-gray-300 */

    color: #7e7d88;
}
.Menu .menu_item .menu_icon {
    margin-left: 17.67px;
}
.btn_logout {
    margin-left: 12px;
    width: 176px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14.5px;
    /* Orange/$-Orange-50 */
    background: #fff2e7;
    border-radius: 8px;
    margin-top: 264px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Orange/$-Orange-500 */

    color: #ff7506;
}
